<!-- views/partials/floating-cta.ejs -->
<div id="cta-bar" class="cta-bar">
  <a href="https://ws.formzu.net/dist/S562550293/" class="cta-bar-button">
    <span class="cta-text">🎵 無料体験レッスンはこちら</span>
    <span class="cta-arrow">
      <%- include('arrow-icon') %>
    </span>
  </a>
</div>s