<header class="site-header">
  <div class="container">
    <a href="/" class="logo">
      <img src="/images/teal-logo.png" alt="TEAL MUSIC SCHOOL自由が丘のロゴ" />
    </a>
  </div>

  <!--ハンバーガーメニュー-->
  <div id="floating-hamburger" class="hamburger-circle">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div id="hamburger-menu" class="hamburger-menu">
  <div class="menu-grid">
    <a href="/#access" class="menu-item">アクセス</a>
    <a href="/#features" class="menu-item">TEALの特徴</a>
    <a href="/#courses" class="menu-item">コース一覧</a>
    <a href="/#price-table" class="menu-item">料金プラン</a>
    <a href="/#instructors" class="menu-item">講師紹介</a>
    <a href="/#faq" class="menu-item">Q&A</a>
    <a href="/blog" class="menu-item">音楽コラム</a>
    <a href="https://ws.formzu.net/dist/S562550293/" class="menu-item">体験レッスン</a>

  </div>
  <button id="close-menu" class="close-menu-btn">✕ 閉じる</button>
</div>

</header>