<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>イベント・ライブの詳細 | TEAL MUSIC SCHOOL</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

<%- include('partials/header') %>
<main class="event-page">
  <section class="event-hero">
    <div class="container">
      <h1>バンドセッションイベント 2025</h1>
      <p class="event-date">📅 2025年10月4日（土）10:00〜15:00</p>
      <p class="event-location">📍 STUDIO BAYD自由が丘店 Aスタジオ</p>

      <div class="event-detail">
      <p class="event-desc">講師・生徒さんたちとバンドセッションするイベントです。<br>
        以下から課題曲を選んでいただき、ボーカル・ギター・ベースのいずれかを担当してバンドセッションします。
        他のパートは、講師や、他の生徒さんが担当します。
        
        <h2>【課題曲】</h2>
        <ul>
          <li>怪獣の鼻唄 / Voundy</li>
          <li>マリーゴールド / あいみょん</li>
          <li>Don't look back anger / Oasis</li>
          <li>若者のすべて / フジファブリック</li>
       </ul>

       その他の詳細は担当講師より、またはメールでご連絡しますので、参加ご希望の方は下記フォームよりお申し込みください。初心者でも大丈夫ですよ！バンドで歌ってみたい人、講師とセッションしてみたい人、ぜひお気軽にご参加ください！
      <br>
      【参加費】　3,500円（税込）/ 一名
      </p>
      <a href="https://ws.formzu.net/dist/S140921281/" class="btn btn-event">参加申込はこちら</a>
      </div>
    </div>
  </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/floating-cta') %>
<script src="/js/main.js"></script>

  </body>
</html>